<div class="country-select">
    <p><strong>Country:</strong> {{ site_country }}</p>
    <p><strong>City:</strong>  {{ site_city }}</p>
    <p><strong>TIme/Zone:</strong>  {{ site_time_zone }}</p>
    <p><strong>Current Time:</strong>  {{ site_current_timedate }}</p>
</div> 